.footer__distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: 16px sans-serif;
  padding: 30px 20px;
}

.footer__distributed .footer__left,
.footer__distributed .footer__center,
.footer__distributed .footer__right {
  display: inline-block;
  vertical-align: top;
}

.footer__company-info-row{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.footer__company-info-icon{
  display: flex;
  width: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #72aed3;
}

.footer__company-info-icon:hover{
  color: #49f53a;
}

.active{
  color: yellow !important;
}

.footer__distributed .footer__links a:hover {
  color: yellow;
}
.footer__distributed .footer__center i:hover {
  color: #00cc00;
}

.footer__distributed .footer__icons {
  margin-top: 25px;
}
.footer__distributed .footer__icons a:hover {
  background-color: #ffff;
  color: #3366cc;
}

.footer__facebook-icon{
  width: 16px;
  height: 16px;
}

/* Mobile */
@media screen and (min-width: 320px) {
  .footer__distributed h3 {
    color: #ffffff;
    font: normal 27px "Cookie", cursive;
    margin: 0;
    text-align: center;
  }

  .footer__distributed .footer__links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
    text-align: center;
  }

  .footer__distributed .footer__links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    font-size: 1.5em;
  }
  .footer__distributed .footer__icons {
    margin-top: 20px 0px;
    text-align: center;
  }
  .footer__distributed .footer__copyright {
    color: #8f9296;
    font-size: 1.7em;
    font-weight: normal;
    margin: 0;
    padding-top: 20px;
    text-align: center;
  }
  .footer__distributed .footer__left {
    width: 100%;
  }
  .footer__distributed .footer__center {
    width: 100%;
  }
  .footer__distributed .footer__right {
    width: 100%;
  }
  .footer__distributed .footer__center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 2.2em;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 10px 10px 0px;
    vertical-align: middle;
    color: #fff;
  }

  .footer__distributed .footer__center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
    font-size: 1.4em;
  }

  .footer__distributed .footer__center p span {
    display: block;
    font-weight: normal;
    font-size: 17px;
    line-height: 2;
  }

  .footer__distributed .footer__icons a {
    display: inline-block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 2.3em;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
    background-color: #3366cc;
    color: #ffff;
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .footer__distributed h3 {
    color: #ffffff;
    font: normal 27px "Cookie", cursive;
    margin: 0;
  }

  .footer__distributed .footer__links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }

  .footer__distributed .footer__links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    font-size: 1.5em;
  }
  .footer__distributed .footer__icons {
    margin-top: 20px 0px;
    text-align: center;
  }
  .footer__distributed .footer__copyright {
    color: #8f9296;
    font-size: 1.7em;
    font-weight: normal;
    margin: 0;
    padding-top: 20px;
    text-align: center;
  }
  .footer__distributed .footer__left {
    width: 35%;
  }
  .footer__distributed .footer__center {
    width: 65%;
  }
  .footer__distributed .footer__right {
    width: 100%;
  }
  .footer__distributed .footer__center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 2.5em;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }

  .footer__distributed .footer__center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
    font-size: 1.7em;
  }

  .footer__distributed .footer__center p span {
    display: block;
    font-weight: normal;
    font-size: 17px;
    line-height: 2;
  }

  .footer__distributed .footer__icons a {
    display: inline-block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 2.3em;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
    background-color: #3366cc;
    color: #ffff;
  }
}
/* desktop */
@media screen and (min-width: 1024px) {
  .footer__distributed h3 {
    color: #ffffff;
    font: normal 36px "Cookie", cursive;
    margin: 0;
  }

  .footer__distributed .footer__links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }

  .footer__distributed .footer__links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    font-size: 1.5em;
  }

  .footer__distributed .footer__copyright {
    color: #8f9296;
    font-size: 1.6em;
    font-weight: normal;
    margin: 0;
    padding-top: 20px;
  }
  .footer__distributed .footer__left {
    width: 35%;
  }
  .footer__distributed .footer__center {
    width: 40%;
  }
  .footer__distributed .footer__right {
    width: 22%;
  }
  .footer__distributed .footer__center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 2.5em;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }

  .footer__distributed .footer__center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
    font-size: 1.8em;
  }

  .footer__distributed .footer__center p span {
    display: block;
    font-weight: normal;
    font-size: 18px;
    line-height: 2;
  }

  .footer__distributed .footer__icons a {
    display: inline-block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-color: #3366cc;
    border-radius: 2px;
    font-size: 2.3em;
    color: #ffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
  }
}
