.menu-header {
  background-color: #78acfd;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  height: var(--header-menu-height);
  width: 100%;
  z-index: 3;
}

.menu-header__navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #78acfd;
}

.menu-header__navigation-link {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #78acfd;
  text-decoration: none;
  font-size: 2em;
  color: rgb(255, 255, 255);
}

.active,
.menu-header__navigation-link:hover,
.menu-header__visibility-btn:hover {
  font-weight: bold;
  color:yellow;
}

.menu-header__logo {
  display: block;
  float: left;
  font-size: 3em;
  padding: 15px 20px;
  width: 195px;
  height: 40px;
  text-decoration: none;
}

/* menu */

.menu-header__navigation {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.menu-header__icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 37px 20px;
  position: relative;
  user-select: none;
}

.menu-header__navicon {
  background: rgb(255, 255, 255);
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.menu-header__navicon:before,
.menu-header__navicon:after {
  background: rgb(255, 255, 255);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.menu-header__navicon:before {
  top: 5px;
}

.menu-header__navicon:after {
  top: -5px;
}

.menu-header__visibility-btn {
  display: none;
}

.menu-header__navigation--expand {
  max-height: 360px;
}

@media screen and (min-width: 768px) {
  .menu-header {
    padding-right:40px;
  }

  .menu-header__navigation-item {
    float: left;
  }

  .menu-header__navigation-link {
    padding: 20px 10px;
  }

  .menu-header__navigation {
    clear: none;
    float: right;
    max-height: none;
  }

  .menu-header__icon {
    display: none;
  }
}
