/*Iphone(480 x 640)*/
@media screen and (min-width: 320px) {
  .card {
    width: 90%;    
    margin: auto;
  }
  .card__content {
    margin: 15px;
  }
  .card__content h3 {
    font-size: 1.4em;
    padding: 5px 0px;
  }
  .card__content p {
    font-size: 1.4em;
  }
  .card__img {
    height: 170px; 
  }
}
/*Ipad vertical(768 x 1024)*/
@media screen and (min-width: 768px) {
  .card {
    width: 43%;
  }
  .card__content {
    margin: 20px;
  }
  .card__content h3 {
    font-size: 1.6em;
    padding: 10px 0px;
  }
  .card__content p {
    font-size: 1.6em;
  }
  .card__img {
    height: 190px; 
  }
}
/*Ipad horizontal(1024 x 768)*/
@media screen and (min-width: 1024px) {
  .card {
    width: 28%;
    margin: 30px 1%;
  }
  .card__content {
    margin: 20px;
  }
  .card__content h3 {
    font-size: 1.8em;
    padding: 15px 0px;
  }
  .card__content p {
    font-size: 1.7em;
  }
  .card__img{
    height: 220px;  
  }
}
/*Commom style for card*/
.card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-out;
  background-color: #eff9ff;
  margin: 20px 0px;
}
.card:hover {
  box-shadow: 0 0 6px rgb(35 173 255);
  opacity: 0.9;
}
.card__content h3 {
  color: #3c64b1;
  font-weight: bold;
  text-align: center;
}
.card__content p {
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
}
.card__img{
  cursor: pointer;
  display: block; 
  margin: 0px auto;
  object-fit: cover;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}


