@media only screen and (max-width: 768px) {
  .title {
    font-size: 2em;
    color: #3c64b1;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
  }
}

@media only screen and (min-width: 720px) {
  .title {
    font-size: 3.5em;
    color: #3c64b1;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
  }
}
